# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual env
venv/
env/

# SQLite database
*.db
*.sqlite3

# VSCode
.vscode/

# Logs
*.log

serviceAccountKey.json
*.env
*.key
*.pem

firebase-adminsdk.json
*.json
